@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro&display=swap');

header {
    text-align: left;
    font-family: 'Maven Pro', sans-serif;
    color:#fff;
    
}
/* header p{
    Need to crop both p with in header  to be like the logo 
    display: block;
    height: 0%;
    width: 0;
    margin-top: 0.5em;
  } */


div:nth-of-type(1) article:nth-of-type(1) {
    border: 1px solid black;
    border-radius: 4px;
    width:200px;
    padding:2px 16px;
    margin: 100px auto;
    background: linear-gradient(#3dc8d5,#8507e1);
    color: #fff;
    font-family: 'Gilda Display', serif;
}

div:nth-of-type(1) article:nth-of-type(1):hover{
    background: linear-gradient(#8507e1,#3dc8d5);
}

div:nth-of-type(1) nav{
    text-align: right;
    color: #ccc;
    margin-right: 20px;
    margin-bottom: 20px;

}
div:nth-of-type(1) nav p:nth-of-type(1):hover{
    
    color:white;

}
div:nth-of-type(1) nav p:nth-of-type(2):hover{
    
    color:white;

}
div:nth-of-type(1) nav p:nth-of-type(3):hover{
    
    color:white;

}
div:nth-of-type(1) nav p:nth-of-type(4):hover{
    
    color:white;

}

div:nth-of-type(1){
    background: #333;
}


div:nth-of-type(2) article:nth-of-type(1) p:nth-of-type(1){
    font-size: 100px;
    opacity: 0.09;
    font-family: 'Gilda Display', serif;
    padding: 10px 100px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: blue;
    
}

div:nth-of-type(2) article:nth-of-type(1) h1{
    font-size: 40px;
    font-family: 'Gilda Display', serif;
    width: 500px;
    padding: 10px 100px;
    margin-top: 1px;
    
}

div:nth-of-type(2) article:nth-of-type(1) p:nth-of-type(2),div:nth-of-type(2) article:nth-of-type(1) p:nth-of-type(3){
    font-family: 'Gilda Display', serif;
    width: 500px;
    padding: 10px 100px;
}

div:nth-of-type(2) article:nth-of-type(2){
  
    font-family: 'Gilda Display', serif;
    width: 500px;
    padding: 10px 200px;
    margin-top: 200px;
}
div:nth-of-type(2) article:nth-of-type(2){
    border-radius: 6px ;
}


div:nth-of-type(2) article:nth-of-type(2) h3{
    font-size: 40px;
    font-weight: bolder;
}


